@charset "utf-8";
/* CSS Document */


/* Begin CSS for random page functions */

body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

.wide {
		width: 100%;
		margin: 0 auto;
		}

.left {
		width: 20%;
		float: left;		
		}

.center {
		width: 60%;
		float: left;		
		}
		
.right {
		width: 20%;
		float: left;
		}

.btnAdd {
  background-color: #1CAB97;
  color: white;
  padding: 8px;
  margin: 8px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

/* End CSS for random page funtions */


/* Begin CSS for Wrapper div located in Accordion */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 1px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
  text-align: center;
}

.wrapper > div > img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

/* End CSS for Wrapper div located in Accorion */


/* Begin CSS for the Tab links/header */
/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */ 
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}

/* End CSS for the Tab links/header */


/* Begin CSS for the Accordion */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {	
  
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* End CSS for the Accordion */


/* Begin CSS for Checkout/Shopping Cart */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container b {
	text-align: center;
	font-size: 10;
	flex: auto;
}

.container img {
	max-height: 25px;
	max-width:  25px;
	
}

.container input {
	max-height: 15px;
	max-width: 15px;
	font-size: 8;
}

input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

.cartPic {
	width: 10px;
	height:10px;
	
}

.cartName {
	font-size: 8;
	font-weight: bold;
	
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


/* End CSS for Checkout/Shopping Cart */
